/**{*/
/*    outline: 1px solid black;*/
/*}*/



.jumbotron--img {
    background-image: url('../img--welcome/pizza.png');
    background-size: cover;
    height: 100%;
}

h1{
    opacity: .7;
    background-color: rgb(255,255,255);
    color: black;
    margin-left: -3%;
    margin-right: -3%;
}

.badge{
    border-radius: 70%;
    background-color: #848487;
    color: #DDDDDD;
}
