*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}


/*
Nav
*/
nav{
    background-color: black;
    display: flex;
    align-items: center;
}

.nav--ul{
    width: 90%;
    display: flex;
    text-decoration: none;
    margin: 10px;

}
.anchor--nav{
    color: white;
    display: flex;
    text-decoration: none;
}
.nav--li{
    display: flex;
    flex-direction: column;
    width: 100px;
    text-align: center;
}
.nav--img{
    width: 10%;
}
a:hover{
     text-decoration: underline;
}

/*
section codeup
*/

.logo--codeup{
    display: flex;
    flex-direction: row;
}


.codeup--logo__img{
    width: 10%;
    height: auto;
}

h2{
    width: 30%;
}

table{
    background-color: lightgrey;
    width: 100%;
}
th{
    background-color: grey;

}

















