* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dark-theme h1{
    background-color: black;
    color: #DDDDDD;
}
.dark-theme main{
    background-color: black;
}
.dark-theme #video{
    background-color: black;
}
.dark-theme footer{
    background-color: black;
}
.dark-theme details{
    color: white;
}
