:root {
    --main-bg-color: lightgrey;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    width: 40%;
    border-radius: 1%;
    margin: auto;
    padding: 10px;
    opacity: 0.5;
    color: black;
}

.message-info {
    margin-top: 30px;
    background-color: lightblue;
    -webkit-text-stroke: 1px blue;
}

.message-success {
    margin-top: 20px;
    background-color: lightgreen;

    -webkit-text-stroke: 1px green;
    /*color: #0fb784;*/
}

.message-warning {
    margin-top: 20px;
    background-color: yellow;
    /*color: var(--main-bg-color);*/

    -webkit-text-stroke: 1px grey;
}

.message-error {
    margin-top: 20px;
    background-color: lightcoral;

    -webkit-text-stroke: 1px darkred;
    /*color: var(--main-bg-color);*/
}